/* styling for entire page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* styling for the container that holds entire page */
#container{
    height: 100vh;
    max-width: 100%;
    overflow-y: auto;
}
/* home page start */
#homePage{
    height: 100vh;
    color: white;
    background-color: white;
    overflow: hidden;
}

/* nav bar styling */
#nav{
    height: 6em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    background-image: url(images/background.png);
    background-position: top;
    position: fixed;
    z-index: 1000;
}
/* logo styling */
.logo{
    display: flex;
    align-items: center;
    margin-left: 10em;
}
.logo img{
    height: 4em;
    align-items: center;

}
/* name styling */
.name{
    padding-left: .8em;
    
    
}
.name p{
    font-size: 1.4em;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid white;
    padding-top: .4em;
}
.lastName{
    font-weight: 200;
}
.front-end-text{
    font-size: .8em !important;
    border-bottom: none !important;
    text-align: center;
}
/* ul li list styling on right of nav */
.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    margin-right: 10em;
    z-index: 1004;
}
.list li{
    padding: 1em 1.2em .5em 1em;
    font-size: 1.2em;
}
.list a{
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    transition: .1s ease-in-out;

}
.list a:active{
    transform: scale(0.9);
}


/* cool hover effect with bottom border for each a tag */
.home{
    position: relative;
    display: inline-block;
}
.home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; 
    height: 1px;
    background-color: white; 
    transition: .8s ease; 
}
.home:hover::after {
    width: 100%;
}
.about{
    position: relative;
    display: inline-block;
}
.about::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; 
    height: 1px;
    background-color: white; 
    transition: .8s ease; 
}
.about:hover::after {
    width: 100%;
}
.contact{
    position: relative;
    display: inline-block;
}
.contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; 
    height: 1px;
    background-color: white; 
    transition: .8s ease; 
}
.contact:hover::after {
    width: 100%;
}
.projects{
    position: relative;
    display: inline-block;
}
.projects::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; 
    height: 1px;
    background-color: white; 
    transition: .8s ease; 
}
.projects:hover::after {
    width: 100%;
}
/* end of Nav bar */


/* start of About page */

#main{
    height: 100vh;
    margin-top: 6em;
    width: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
   
    
}

#leftSide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-left: 10em;
}
#leftSide hr{
    position: relative;
    bottom: 8em;
    width: 130%;
    z-index: 1003;
    border: 3px solid orangered;
}
.about{
    font-family: "Roboto", sans-serif;
    width: 80%;
    font-weight: 400;
}
.about-title{
    font-family: "Roboto", sans-serif;
    font-size: 12em;
    font-weight: 500;
    letter-spacing: -0.07em;
    position: relative;
    bottom: .6em;
}
.about-header2{
    font-size: 1.4em;
    position: relative;
    bottom: 2em;
    font-family: "Roboto", sans-serif;
    
}

.about-desc{
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.4em;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
#rightSide{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
    
}
.orange-dot{
    height: 1.8em;
    width: 1.8em;
    position: relative;
    top: 41em;
    right: 52.75em;
    border-radius: 25px;
    background-color: orangered;
}
.orange-dot2{
    height: 1.8em;
    width: 1.8em;
    position: relative;
    top: 43.8em;
    right: 54.5em;
    border-radius: 25px;
    background-color: orangered;
}


#rightSide img{
    height: 40em;
    position: relative;
    right: 2em;
    

}